name: My First Workflow
on:
  push:
    branches: 
      - main
  workflow_dispatch:

jobs:
  MyFirstJob:
    runs-on: ubuntu-latest

    steps:
      - run: echo "Hello world"
      
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Df
        run: df -h
    
      - name: List files in the repository
        run: |
          pwd
          echo "The repository ${{ github.repository }} contains the following files"
          tree -A -a ~/
          ls /
          
    
    
